.col-md-10
  %br
  %h2 Manage Available Engagements Phases
  %br

  .table.table-striped#mytable
    %table{ :style => "width: 80%" }
      %thead
        %tr
          %th{ :style => "width: 60%" }
            Phase Title
          %th{ :style => "width: 20%" }
            Language
          %th{ :style => "width: 20%" }
      %tbody
        - @phases.each do |phase|
          %tr
            %td
              #{phase.title}
            %td
              #{phase.language}
            %td
              %div{ :style => "float: right" }
                %a.btn.btn-warning{ :href => "/MultiPhase/admin/edit?phase_id=#{phase.id}" }
                  %i.icon-pencil.icon-white{ :title => "Edit" }
                %a.btn.btn-danger{ :href => "/MultiPhase/admin/delete?phase_id=#{phase.id}" }
                  %i.icon-remove.icon-white{ :title => "Delete" }

  %br
  %a.btn.btn-default{ :href => "/MultiPhase/admin/edit" } Add a new phase
  %a.btn.btn-default{ :href => "/" } Cancel
